:host {
  display: block;
}

/* Used by custom attribute directive TextTruncateEllipsisDirective, ayTextTruncateEllipsis */
.is-text-truncate-ellipsis {
  text-align: left;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.camp-container {
  margin-top: 30px;
  width: 80%;
  text-align: center;
}

.map-display {
  width: 300px;
  height: 300px;
  position: relative;
}

.side-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.loading-map-location {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.side-panel-title {
  margin-top: 10px;
  font-weight: 300;
}

/* Chat section - Starts */
.chat-room mat-divider,
.chat-room mat-expansion-panel {
  margin: 20px auto;
  width: 300px;
}

.chat-room mat-panel-description {
  /* justify-content: center; */
  font-size: 12px;
}

.chat-header {
  text-align: left;
}

.chat-expanded-panel {
  /* width: 90%; */
  margin: 0;
  padding: 0;
}

.chats-display {
  height: 200px;
  overflow: auto;
  text-align: left;
  line-height: 25px;
}

.chats-display ul {
  list-style: none;
  padding-left: 2px;
  font-size: 12px;
}

.chat-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 5px;
  /* outline: none; */
}

/* .chats-display ul li:nth-child(odd) {
  background-color: #f0eeee;
} */

.other-user-chat {
  background-color: #f0eeee;
  border-radius: 5px;
  padding: 2px;
  box-sizing: border-box;
}

.chat-server-text {
  margin: 15px auto;
  margin-bottom: 0;
  color: #8f8888;
}

.chat-server-time {
  margin: 15px auto;
  margin-top: 5px;

  font-size: 9px;
  color: #8f8888;
}

.chat-list-time {
  font-size: 9px;
  color: #8f8888;
}

.chat-form-type {
  display: flex;
  justify-content: space-between;
}

.chat-footer {
  text-align: left;
  font-style: italic;
  font-size: 9px;
  color: #8f8888;
  line-height: 16px;
}

/* Chat section - Ends */

.action-buttons {
  text-align: right;
}

.campground-info {
  text-align: left;
}

mat-card-title {
  width: auto;
  background-color: #f0eeee;
  padding: 5px;
  border: 1px solid #f0eeee;
  border-radius: 2px;
}

.price {
  float: right;
}

.chips-display {
  padding-bottom: 20px;
}

.mat-card-image {
  padding-top: 10px;
  /* object-fit: cover; */
  max-width: 100%;

  /* max-height: 70%; */
  /* height: auto; */
  /* height: fit-content; */
  object-fit: contain;
  max-height: 100%;
}

.loading-campground-image {
  margin: 200px auto;
  vertical-align: middle;
  text-align: center;

  width: 50px;
  height: 50px;
}

.campground-image {
  height: 500px;
  overflow: hidden;
}

.container {
  margin-bottom: 50px;
}

.comments-container {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 40px;
}

mat-form-field {
  width: 100%;
}

.camp-submitted-by {
  text-align: left;
  font-style: italic;
  margin-bottom: 5px;
}

.camp-submitted-by a {
  text-decoration: none;
}

.camp-submitted-by a:hover {
  text-decoration: underline;
}

.camp-submitted-by .camp-author {
  font-weight: 700;
}

.comments-list-expand-collapse {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  /* align-items: flex-end; */
}

mat-expansion-panel-header,
mat-panel-description {
  /* flex-basis: 0; */
}

mat-expansion-panel-header {
  padding: 0 15px;
  align-items: center;
  /* margin-top: 15px; */
}

mat-panel-title {
  flex: 0 0 auto;
  /* font-weight: 700; */
}

.comment-title-author-avatar img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.commet-author-avatar img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.commet-author-avatar img:hover {
  cursor: pointer;
}

.comment-author-name {
  margin-left: 5px;
  text-align: center;
  vertical-align: auto;
}

.comment-author-name .author-name {
  font-weight: 700;
}

.comment-author-name .last-edited {
  /* font-weight: 300; */
  font-style: italic;
  font-size: 12px;
  color: #8f8888;
}

.mat-expansion-panel-header-description {
  /* flex: 0 0 auto; */
  /* align-self: flex-end; */
}

mat-panel-description .comment-text-overview {
  text-align: left;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-expanded-panel {
  display: flex;
  align-items: center;
}

.container-comment-edit {
  margin-left: 10px;
  flex: 1;
}

.edit-comment-form {
  display: flex;
}

.edit-comment-form input {
  flex-grow: 2;
}

.edit-comment-form button {
  flex-grow: 1;
}

/* .container-comment-edit mat-form-input {
  width: 100%;
} */
