/* Main Container of this page */
.grid-container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  width: 70%;
  margin: 20px auto;
  text-align: center;
}

/* Side Panel */
.side-panel {
  grid-column-start: 1;
  grid-column-end: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.side-panel-title {
  margin-top: 10px;
  font-weight: 300;
}

/* Side Panel => Chat section - Starts */
.chat-room mat-expansion-panel {
  margin: 20px auto;
  width: 300px;
}

.chat-room mat-panel-description {
  font-size: 12px;
}

.chat-header {
  text-align: left;
}

.chat-expanded-panel {
  /* width: 90%; */
  margin: 0;
  padding: 0;
}

.chats-display {
  height: 200px;
  overflow: auto;
  text-align: left;
  line-height: 25px;
}

.chats-display ul {
  list-style: none;
  padding-left: 2px;
  font-size: 12px;
}

.chat-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 5px;
}

.other-user-chat {
  background-color: #f0eeee;
  border-radius: 5px;
  padding: 2px;
  box-sizing: border-box;
}

.chat-server-text {
  margin: 15px auto;
  margin-bottom: 0;
  color: #8f8888;
}

.chat-server-time {
  margin: 15px auto;
  margin-top: 5px;

  font-size: 9px;
  color: #8f8888;
}

.chat-list-time {
  font-size: 9px;
  color: #8f8888;
}

.chat-form-type {
  display: flex;
  justify-content: space-between;
}

.chat-footer {
  text-align: left;
  font-style: italic;
  font-size: 9px;
  color: #8f8888;
  line-height: 16px;
}
/* Side Panel => Chat section - Ends */

/* Side Panel => Map section - Starts */
.side-panel-items-hdivider {
  display: block;
  margin: 20px auto;
  width: 300px;
}

.side-panel-items-vdivider {
  display: none;
  margin: 20px;
  height: 300px;
}

.map-display {
  width: 300px;
  height: 300px;
  position: relative;
}

.loading-map-location {
  width: 50px;
  height: 50px;
  margin: 20px auto;
}
/* Side Panel => Map section - Ends */

/* Main Panel */
.main-panel {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Used by custom attribute directive TextTruncateEllipsisDirective, ayTextTruncateEllipsis */
.is-text-truncate-ellipsis {
  text-align: left;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-buttons {
  text-align: right;
}

.campground-name {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.campground-info {
  text-align: left;
}

mat-card-title {
  width: auto;
  background-color: #f0eeee;
  padding: 5px;
  border: 1px solid #f0eeee;
  border-radius: 2px;
}

.info-icon {
  font-size: 1rem;
  cursor: pointer;
}

.chips-display {
  padding-bottom: 20px;
}

.mat-card-image {
  padding-top: 10px;
  max-width: 100%;
  object-fit: contain;
  max-height: 100%;
}

.loading-campground-image {
  margin: 200px auto;
  vertical-align: middle;
  text-align: center;
  width: 50px;
  height: 50px;
}

.comments-container {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 40px;
}

mat-form-field {
  width: 100%;
}

.camp-submitted-by {
  text-align: left;
  font-style: italic;
  margin-bottom: 5px;
}

.camp-submitted-by a {
  text-decoration: none;
}

.camp-submitted-by a:hover {
  text-decoration: underline;
}

.camp-submitted-by .camp-author {
  font-weight: 700;
}

.comments-list-expand-collapse {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  /* align-items: flex-end; */
}

mat-expansion-panel-header {
  padding: 0 15px;
  align-items: center;
  /* margin-top: 15px; */
}

mat-panel-title {
  flex: 0 0 auto;
  /* font-weight: 700; */
}

.comment-title-author-avatar img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.commet-author-avatar img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  transition: opacity 0.5s;
}

.commet-author-avatar img:hover {
  cursor: pointer;
  opacity: 50%;
}

.comment-author-name {
  margin-left: 5px;
  text-align: center;
  vertical-align: auto;
}

.comment-author-name .author-name {
  font-weight: 700;
}

.comment-author-name .last-edited {
  font-style: italic;
  font-size: 12px;
  color: #8f8888;
}

mat-panel-description .comment-text-overview {
  text-align: left;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-expanded-panel {
  display: flex;
  align-items: center;
}

.container-comment-edit {
  margin-left: 10px;
  flex: 1;
}

.edit-comment-form {
  display: flex;
}

.edit-comment-form input {
  flex-grow: 2;
}

.edit-comment-form .edit-form-buttons {
  flex-grow: 1;
  display: flex;
}

/* 31082020 - Gaurav - Comment font was very light */
.mat-input-element:disabled {
  color: rgb(0, 0, 0, 0.7);
}

.like-section {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.like-section p {
  margin-bottom: 0;
  margin-left: 5px;
  font-weight: 300;
}

.like-section p:hover {
  cursor: pointer;
  text-decoration: underline;
}

::ng-deep .likes-tooltip {
  white-space: pre-line;
}

.courtesy-footer {
  text-align: center;
  margin: 10px auto;
  font-size: 0.75em;
  color: #383a3b;
}

.courtesy-footer a {
  color: #383a3b;
  text-decoration: none;
}

.courtesy-footer a:hover {
  text-decoration: underline;
}

/* Media queries */
@media screen and (max-width: 1200px) {
  .grid-container {
    width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .grid-container {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    align-content: center;
  }

  .main-panel {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .side-panel {
    grid-column-start: 1;
    grid-column-end: 1;

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: start;
  }

  .chat-room {
    height: 350px;
  }

  .side-panel-items-hdivider {
    display: none;
  }

  .side-panel-items-vdivider {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .side-panel {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;

    justify-content: center;
    align-content: center;
  }

  .chat-room {
    height: auto;

    grid-row-start: 1;
    grid-row-end: 1;
  }

  .side-panel-items-vdivider {
    display: none;
  }

  .side-panel-items-hdivider {
    display: block;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .map {
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .map-display {
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .map-display {
    width: 450px;
  }

  .campground-name {
    flex-direction: column;
    padding: 10px auto;
    align-items: center;
  }

  .campground-name span {
    margin: 10px auto;
  }

  .comments-container-add mat-expansion-panel-header {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .map-display {
    width: 400px;
  }

  .mat-panel-desc-text {
    display: none;
  }

  .comments-container-add mat-expansion-panel-header {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 450px) {
  .map-display {
    width: 300px;
  }

  .container-expanded-panel {
    flex-direction: column;
  }

  .commet-author-avatar img {
    width: 90px;
    height: 90px;
  }

  .edit-comment-form {
    flex-direction: column;
    align-items: center;
  }

  .edit-comment-form input {
    width: 100%;
  }

  .comments-container-add mat-expansion-panel-header {
    font-size: 0.7rem;
  }
}
