<mat-progress-bar
  mode="indeterminate"
  color="warn"
  [ngStyle]="{ height: '2px' }"
  *ngIf="isLoading"
></mat-progress-bar>
<app-header></app-header>
<div class="grid-container">
  <div class="side-panel">
    <div class="chat-room">
      <h1 class="side-panel-title">Live 🏕&nbsp;Chat</h1>
      <mat-expansion-panel
        (opened)="onChatJoin()"
        (closed)="onChatLeave()"
        [disabled]="!isUserAuthenticated"
        #mepCampChat="matExpansionPanel"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> ⛺️&nbsp; 💬 </mat-panel-title>
          <mat-panel-description
            *ngIf="!isUserAuthenticated && !campChatOpenState"
          >
            You need to login.
          </mat-panel-description>
          <mat-panel-description
            *ngIf="isUserAuthenticated && !campChatOpenState"
          >
            Click to join
          </mat-panel-description>
          <mat-panel-description
            *ngIf="isUserAuthenticated && campChatOpenState"
          >
            <strong>{{ campground?.name }}</strong
            >&nbsp;chat room
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="chat-expanded-panel">
          <div class="chats-display" #chatDisplay>
            <ul>
              <li
                class="chat-list"
                [ngClass]="
                  chat.messageType === 2 && chat.chatMessage.userId !== userId
                    ? ['other-user-chat']
                    : ['']
                "
                *ngFor="let chat of chatMessageList; let i = index"
                [id]="i"
                #chatList
              >
                <span
                  [ngClass]="
                    chat.messageType === 1 || chat.messageType === 3
                      ? ['chat-server-text']
                      : ['chat-list-text']
                  "
                  >{{ chat?.chatMessage?.msg }}</span
                ><span
                  [ngClass]="
                    chat.messageType === 1 || chat.messageType === 3
                      ? ['chat-server-time']
                      : ['chat-list-time']
                  "
                  >{{ getLastEdited(chat?.postDate) }}</span
                >
              </li>
            </ul>
          </div>
          <form class="chat-form-type" (ngSubmit)="onChatSubmit()">
            <mat-form-field>
              <input
                matInput
                type="text"
                name="newChatText"
                [(ngModel)]="newChatText"
                maxlength="120"
              />
              <mat-hint align="end">{{ newChatText?.length }} / 120</mat-hint>
            </mat-form-field>
            <button
              mat-button
              color="primary"
              type="submit"
              matSuffix
              mat-icon-button
              aria-label="Enter"
              [disabled]="!newChatText || newChatText === ''"
            >
              <mat-icon>double_arrow</mat-icon>
            </button>
          </form>
          <div class="chat-footer">
            * Chat room limited for this campground page only!
          </div>
        </div>
      </mat-expansion-panel>
    </div>

    <mat-divider class="side-panel-items-hdivider"></mat-divider>
    <mat-divider
      [vertical]="true"
      class="side-panel-items-vdivider"
    ></mat-divider>

    <div class="map">
      <h1 class="side-panel-title">Location Map</h1>
      <div class="loading-map-location" *ngIf="isLoading">
        <img
          src="assets/svg/location-on-map.svg"
          alt="map location placeholder"
        />
        loading...
      </div>

      <div class="map-display" *ngIf="!isLoading">
        <ay-map
          [mapLocation]="campground?.location ? campground.location : ''"
        ></ay-map>
      </div>
    </div>
  </div>

  <div class="main-panel">
    <mat-card>
      <div class="campground-image">
        <div class="loading-campground-image" *ngIf="isLoading">
          <mat-icon>photo</mat-icon>
          loading...
        </div>

        <img
          *ngIf="!isLoading"
          mat-card-image
          [src]="campground?.image"
          [alt]="campground?.name"
        />
      </div>

      <div class="campground-info">
        <mat-card-title class="campground-name"
          ><span>{{ campground?.name }}</span>
          <span class="price"
            >${{ campground?.price ? campground?.price : 0 }}/night</span
          ></mat-card-title
        >
        <mat-card-subtitle>{{ campground?.location }}</mat-card-subtitle>
        <mat-card-subtitle>{{
          "Country: " + (countryNameRearranged ? countryNameRearranged : "")
        }}</mat-card-subtitle>
        <mat-card-subtitle>{{
          "Geographical Area: " +
            (campground?.country?.Continent_Name
              ? campground.country.Continent_Name
              : "")
        }}</mat-card-subtitle>
        <mat-card-subtitle
          >{{ "Best season to visit:" }}
          <mat-icon class="info-icon" (click)="onOpenDialog('bestSeasons')">
            help_outline</mat-icon
          >{{ bestSeasonsText ? bestSeasonsText : "" }}</mat-card-subtitle
        >
        <mat-card-subtitle *ngIf="campground?.hikingLevel"
          >{{ "Hiking Level: " + campground?.hikingLevel?.levelName }}
          <mat-icon class="info-icon" (click)="onOpenDialog('hikingLevel')">
            help_outline</mat-icon
          >
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="campground?.fitnessLevel"
          >{{
            "Required Fitness Level: " + campground?.fitnessLevel?.levelName
          }}
          <mat-icon class="info-icon" (click)="onOpenDialog('fitnessLevel')">
            help_outline</mat-icon
          ></mat-card-subtitle
        >
        <mat-card-subtitle *ngIf="campground?.trekTechnicalGrade"
          >{{ "Trek Grade: " + campground?.trekTechnicalGrade?.levelName }}
          <mat-icon
            class="info-icon"
            (click)="onOpenDialog('trekTechnicalGrade')"
          >
            help_outline</mat-icon
          >
        </mat-card-subtitle>

        <div class="camp-rating-div">
          <!-- <mat-card-subtitle>Rating: </mat-card-subtitle>  -->
          <mat-icon
            [color]="campground?.rating > 0 ? 'accent' : ''"
            class="rated-icon"
            *ngFor="let r of campRating"
            >{{ r.icon }}</mat-icon
          >
        </div>
        <mat-card-subtitle
          ><i
            *ngIf="campground?.rating > 0"
            [matTooltip]="getCampgroundRatersList()"
            class="rated-by"
            >{{
              ratingData.ratingsCount +
                " rating" +
                (ratingData.ratingsCount > 1 ? "s" : "")
            }}</i
          ><i *ngIf="campground?.rating <= 0">No ratings</i>
          <span *ngIf="isUserAuthenticated">&nbsp; Rate now!</span>
          <mat-icon
            *ngIf="isUserAuthenticated"
            class="info-icon"
            (click)="onRateCampground()"
            >open_in_new</mat-icon
          >
        </mat-card-subtitle>

        <mat-card-content>{{ campground?.description }}</mat-card-content>
      </div>
      <div class="chips-display">
        <mat-chip-list aria-label="Amenities available">
          <mat-chip *ngFor="let amenity of campground?.amenities">{{
            amenity.name
          }}</mat-chip>
        </mat-chip-list>
      </div>
      <div class="camp-submitted-by">
        Submitted by
        <a
          [routerLink]="
            userId === campground?.author?.id
              ? ['/user/current']
              : ['/user/other', campground?.author?.id]
          "
          class="camp-author"
          >{{ campground?.author?.username }}</a
        >,
        {{
          campground?.updatedAt ? getLastEdited(campground?.updatedAt) : 'loading...'
        }}
      </div>
      <mat-divider
        *ngIf="isUserAuthenticated && campground?.author?.id === userId"
      ></mat-divider>
      <mat-card-actions class="action-buttons">
        <button
          *ngIf="isUserAuthenticated && campground?.author?.id === userId"
          mat-button
          color="primary"
          [routerLink]="['/campgrounds/process/edit', campground?._id]"
        >
          EDIT
        </button>
        <button
          *ngIf="isUserAuthenticated && campground?.author?.id === userId"
          mat-button
          color="warn"
          (click)="onDelete(campground?._id)"
        >
          DELETE
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="comments-container">
      <h2>Reviews <mat-icon>comment</mat-icon></h2>

      <div class="comments-container-add">
        <mat-expansion-panel
          (opened)="addCommentOpenState = true"
          (closed)="addCommentOpenState = false"
          [disabled]="!isUserAuthenticated"
          #mepNewComment="matExpansionPanel"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Add Review </mat-panel-title>
            <mat-panel-description *ngIf="!isUserAuthenticated">
              You need to login before you review.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form
            #newCommentForm="ngForm"
            (submit)="onNewCommentSubmit(newCommentForm, mepNewComment)"
          >
            <mat-form-field>
              <input
                matInput
                type="text"
                name="addCommentInput"
                [(ngModel)]="newComment"
                placeholder="Your review here*"
                [disabled]="isCommentTriggered"
              />
              <button
                mat-button
                *ngIf="newComment"
                type="submit"
                color="primary"
                matSuffix
                mat-icon-button
                aria-label="Save"
                [disabled]="isCommentTriggered"
              >
                <mat-icon>add_task</mat-icon>
              </button>
              <button
                mat-button
                *ngIf="newComment"
                color="warn"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="newComment = ''"
                [disabled]="isCommentTriggered"
              >
                <mat-icon>clear</mat-icon>
              </button>
              <mat-hint>*Do not disclose personal data</mat-hint>
            </mat-form-field>
          </form>
        </mat-expansion-panel>
      </div>
      <br />
      <mat-divider></mat-divider>
      <br />
      <div class="comments-container-list">
        <div class="comments-list-expand-collapse">
          <button mat-button (click)="onAccordionToggle(true)">
            Expand All <mat-icon>expand_more</mat-icon>
          </button>
          <button mat-button (click)="onAccordionToggle(false)">
            Collapse All <mat-icon>expand_less</mat-icon>
          </button>
        </div>
        <mat-accordion multi>
          <mat-expansion-panel
            *ngFor="
              let comment of campground?.comments;
              trackBy: trackByMethod;
              let i = index
            "
            #mep="matExpansionPanel"
            (expandedChange)="mep.expanded = $event"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div
                  class="comment-title-author-avatar"
                  *ngIf="!mep.expanded && !accordionExpanded"
                >
                  <img
                    [src]="comment?.author?.avatar"
                    [title]="comment?.author?.username"
                  />
                </div>
                <div class="comment-author-name">
                  <span class="author-name">
                    {{ comment?.author?.username }}
                  </span>
                  <span class="last-edited">
                    &#9679;
                    {{
                      comment?.updatedAt ? getLastEdited(comment?.updatedAt) : 'loading...'
                    }}
                    {{ comment?.isEdited ? "(edited)" : "" }}
                  </span>
                </div>
              </mat-panel-title>
              <mat-panel-description
                class="mat-panel-desc-text"
                *ngIf="!mep.expanded && !accordionExpanded"
              >
                <div class="comment-text-overview">
                  {{ comment.text }}
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
              <div class="container-expanded-panel">
                <div class="commet-author-avatar">
                  <img
                    [routerLink]="
                      userId === comment?.author?.id
                        ? ['/user/current']
                        : ['/user/other', comment?.author?.id]
                    "
                    [src]="comment?.author?.avatar"
                    [title]="comment?.author?.username"
                  />
                </div>
                <div class="container-comment-edit">
                  <form class="edit-comment-form" #editCommentForm="ngForm">
                    <mat-form-field>
                      <input
                        matInput
                        type="text"
                        name="editedComment"
                        [value]="comment.text"
                        #editCommentInput="matInput"
                        [disabled]="
                          editButton._elementRef.nativeElement.innerText ===
                            'edit_task' || isCommentTriggered
                        "
                      />
                    </mat-form-field>
                    <div class="edit-form-buttons">
                      <button
                        [disabled]="
                          !isUserAuthenticated ||
                          !editCommentInput.value ||
                          userId != comment?.author?.id ||
                          isCommentTriggered
                        "
                        mat-button
                        color="primary"
                        matSuffix
                        mat-icon-button
                        aria-label="Edit"
                        (click)="
                          onCommentEdit(
                            editButton._elementRef,
                            comment._id,
                            editCommentInput.value
                          )
                        "
                        #editButton="matButton"
                      >
                        <mat-icon>edit_task</mat-icon>
                      </button>
                      <button
                        mat-button
                        type="button"
                        *ngIf="
                          editButton._elementRef.nativeElement.innerText !==
                          'edit_task'
                        "
                        matSuffix
                        mat-icon-button
                        aria-label="Restore"
                        (click)="
                          (editCommentInput.value = comment.text) &&
                            toggleEditButton(editButton._elementRef)
                        "
                        [disabled]="!isUserAuthenticated || isCommentTriggered"
                      >
                        <mat-icon>restore</mat-icon>
                      </button>
                      <button
                        type="button"
                        *ngIf="
                          editButton._elementRef.nativeElement.innerText ===
                          'edit_task'
                        "
                        [disabled]="
                          !isUserAuthenticated ||
                          !editCommentInput.value ||
                          (userId !== comment?.author?.id &&
                            userId !== campground?.author?.id) ||
                          isCommentTriggered
                        "
                        mat-button
                        color="warn"
                        matSuffix
                        mat-icon-button
                        aria-label="Delete"
                        (click)="onCommentDelete(comment._id)"
                      >
                        <mat-icon>delete_task</mat-icon>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="like-section">
                <button
                  mat-button
                  [color]="comment?.likes?.length > 0 ? 'accent' : ''"
                  type="button"
                  matSuffix
                  mat-icon-button
                  aria-label="Like"
                  [disabled]="
                    !isUserAuthenticated || isLoading || isCommentTriggered
                  "
                  (click)="onCommentLike(comment._id, i)"
                >
                  <mat-icon>thumb_up</mat-icon>
                </button>
                <p
                  [matTooltip]="getLikeUsersList(comment._id, i)"
                  [matTooltipClass]="'likes-tooltip'"
                >
                  {{ getLikeUsersPreview(comment._id, i) }}
                </p>
              </div>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
        <br />
      </div>
    </mat-card>
  </div>
</div>
<div class="courtesy-footer" *ngIf="!isLoading">
  <p>
    Seasons info courtesy:
    <a
      href="https://www.nationalgeographic.org/encyclopedia/season/"
      target="_blank"
      title="National Geographic"
      ><strong>National Geographic</strong></a
    >
    | Hiking levels info courtesy:
    <a
      href="https://www.eurohike.at/en/travel-information/during-the-tour/level-of-hiking"
      target="_blank"
      title="EuroHike"
      ><strong>EuroHike</strong></a
    >
    | Fitness levels and Trek Technical Grades info courtesy:
    <a
      href="https://www.kantoadventures.com/hiking-difficulty-scale.html"
      target="_blank"
      title="Kanto Adventures"
      ><strong>Kanto Adventures</strong></a
    >
  </p>
</div>
