ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-bottom: -15px;
}

a {
  text-decoration: none;
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

.user-avatar-badge img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
