/* :host {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
} */

.yelpcamp-logo {
  transition: font-size 0.5s;
}

.yelpcamp-logo:hover {
  font-size: 22px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-bottom: -15px;
}

a {
  text-decoration: none;
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

.user-avatar-badge img,
.user-avatar img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  transition: opacity 0.5s;
}

.user-avatar-badge img:hover,
.user-avatar img:hover {
  opacity: 50%;
}

.yelpcamp-location-flag {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 5%;
  overflow: hidden;
}
