.yelpcamp-logo {
  transition: font-size 0.5s;
}
.yelpcamp-logo:hover {
  font-size: 22px;
}

.web-menu {
  display: inline-flex;
}

.mobile-menu {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-bottom: -15px;
}

a {
  text-decoration: none;
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

.header-username {
  background-color: transparent;
}

.user-avatar-badge,
.user-avatar {
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-content: center;
  padding: 4px;
  padding-bottom: 2px;
  border: 1px solid rgba(0, 0, 0, 0);
  /* border-radius: 25% 10%; */
  border-radius: 50% 20% / 10% 40%;
  transition: border 0.25s background 0.25s;
}

.user-avatar-badge img,
.user-avatar img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.user-avatar-badge:hover,
.user-avatar:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(256, 256, 256, 0.3);
}

.yelpcamp-location-flag {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 5%;
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  .web-menu {
    display: none;
  }

  .mobile-menu {
    display: inline-flex;
  }
}
