mat-card {
  box-sizing: border-box;
  width: 60%;
  margin: 10px auto;
  padding: 32px;
  background-color: #e9ecef;
}

mat-spinner {
  margin: auto;
}

.mat-display-2 {
  font-weight: 300;
  margin-bottom: 1rem;
}

.campground-search {
  margin-top: 1rem;
}

.campground-search button[type="submit"] {
  margin-left: 0.5rem;
}

mat-grid-list {
  width: 60%;
  margin: 15px auto;
}

/* mat-paginator {
  margin-top: 15px;
} */

mat-grid-list mat-card {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campground-preview-image {
  /* background-size: cover;
  overflow: hidden; */
  object-fit: cover;
  width: 100%;
  height: 60%;
}

.campground-preview-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
}

.campground-preview-title {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

.campground-preview-button {
  margin-top: 5px;
}

.paginator {
  width: 80%;
}
