<mat-progress-bar
  mode="indeterminate"
  color="warn"
  *ngIf="isLoading"
></mat-progress-bar>
<app-header></app-header>
<mat-card
  class="banner"
  [ngClass]="hideStatsDashboard ? ['banner-single'] : ['banner-duplex']"
>
  <div class="heading">
    <div class="heading-top">
      <h1 class="mat-display-2">Welcome to YelpCamp!</h1>

      <h3>View our hand-picked campgrounds from all over the world</h3>
    </div>

    <div
      class="header-middle"
      [ngClass]="hideStatsDashboard ? ['banner-single-middle'] : ['']"
    >
      <button
        class="header-button-new"
        [disabled]="!isUserAuthenticated"
        mat-raised-button
        color="accent"
        [routerLink]="['/campgrounds/process/new']"
      >
        Add New Campground
      </button>
    </div>

    <!-- <br /> -->
    <div class="heading-bottom">
      <form class="campground-search" (submit)="onSearchCampground()">
        <mat-form-field class="search-input">
          <input
            type="text"
            matInput
            name="searchCamp"
            [(ngModel)]="search"
            placeholder="Campground search..."
          />
        </mat-form-field>
        <button
          *ngIf="searchMode"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="onClearSearch()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <button mat-button type="submit">Search</button>
      </form>
    </div>
  </div>

  <mat-divider
    class="header-stats-vdivider"
    vertical="true"
    *ngIf="!hideStatsDashboard"
  ></mat-divider>

  <div class="stats" *ngIf="!hideStatsDashboard">
    <mat-card [ngStyle]="getFlagColor()?.top" class="stats-card">
      <div class="count">{{ campgroundsCount }}</div>
      <div class="category">Campgrounds</div>
    </mat-card>
    <mat-card class="stats-card" [ngStyle]="getFlagColor()?.middle">
      <div class="count">{{ usersCount }}</div>
      <div class="category">Users</div>
    </mat-card>
    <mat-card class="stats-card" [ngStyle]="getFlagColor()?.bottom">
      <div class="count">{{ contributorsCount }}</div>
      <div class="category">Contributors</div>
    </mat-card>
  </div>
</mat-card>

<div class="campgrounds-list">
  <mat-card class="grid-card" *ngFor="let campground of campgrounds">
    <img
      class="campground-preview-image"
      mat-card-image
      [src]="campground.image"
      alt="Campground Preview Image"
    />
    <div class="campground-preview-cta">
      <mat-card-title class="campground-preview-title">{{
        campground.name
      }}</mat-card-title>
      <button
        class="campground-preview-button"
        mat-raised-button
        color="accent"
        [routerLink]="['/campgrounds/show/', campground._id]"
      >
        Know More
      </button>
    </div>
  </mat-card>
</div>

<div class="paginator">
  <mat-paginator
    [length]="totalCampgrounds"
    [pageSize]="campgroundsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="campgrounds.length > 0"
    #paginator
  ></mat-paginator>
</div>
<div class="courtesy-footer" *ngIf="!isLoading">
  <p>
    Flag icons made by
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
      >Freepik</a
    >
    from
    <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com. </a>
    <!-- Country code courtesy: https://ipinfo.io -->
  </p>
</div>
