<mat-progress-bar
  mode="indeterminate"
  color="warn"
  [ngStyle]="{ height: '2px' }"
  *ngIf="isLoading"
></mat-progress-bar>
<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
  <form #passwordForm="ngForm">
    <mat-form-field>
      <mat-label>Enter Old Password</mat-label>
      <input
        autocomplete="off"
        matInput
        [type]="hide ? 'password' : 'text'"
        name="oldpassword"
        required
        ngModel
        #oldPasswordInput="ngModel"
        [disabled]="isLoading"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        type="button"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="oldPasswordInput.invalid"
        >Old password is required.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input
        autocomplete="new-password"
        matInput
        [type]="hide ? 'password' : 'text'"
        name="newpassword"
        required
        ngModel
        #newPasswordInput="ngModel"
        [disabled]="isLoading"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        type="button"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="newPasswordInput.invalid"
        >Please enter a valid password.</mat-error
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    color="primary"
    (cdkFocusInitial)="(passwordForm.valid && !isLoading)"
    (click)="onUpdate(passwordForm)"
    [disabled]="!passwordForm.valid || isLoading"
  >
    Update
  </button>
  <button mat-button color="warn" (click)="onNoClick()" [disabled]="isLoading">
    Cancel
  </button>
</div>
