<app-header></app-header>
<div class="campground-create">
  <h1 class="mat-display-1 campground-create-header">
    {{ formHeading }}
  </h1>
  <mat-divider color="accent"></mat-divider>
  <!-- <hr class="campground-create-hr" /> -->
  <form
    [formGroup]="form"
    class="campground-create-form"
    (submit)="onFormSubmit()"
  >
    <mat-form-field>
      <input
        matInput
        type="text"
        [formControlName]="['campgroundName']"
        placeholder="Campground Name"
        [disabled]="isLoading"
      />
      <mat-error *ngIf="form.get('campgroundName').invalid"
        >Please enter a campground name of at least 6 characters or max 30
        characters.</mat-error
      >
    </mat-form-field>

    <div class="spinner">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>

    <mat-form-field>
      <input
        matInput
        type="number"
        [formControlName]="['campgroundPrice']"
        placeholder="Price in $"
        [disabled]="isLoading"
      />
    </mat-form-field>
    <div class="campground-create-image">
      <button
        mat-raised-button
        type="button"
        (click)="filePicker.click()"
        [disabled]="isLoading"
      >
        Pick Image
      </button>

      <mat-form-field class="show-image-path">
        <input
          matInput
          type="text"
          [placeholder]="
            imagePreview ? 'Picked image name...' : 'Last saved image path..'
          "
          value="{{ displayImageName }}"
          disabled
        />
      </mat-form-field>

      <input
        type="file"
        accept="image/*"
        #filePicker
        (change)="onImagePicked($event)"
      />
    </div>
    <div
      class="image-preview"
      *ngIf="
        !isEditMode() &&
        imagePreview &&
        imagePreview !== '' &&
        form.get('campgroundImage').valid
      "
    >
      <img [src]="imagePreview" [alt]="form.value.campgroundName" />
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="3"
        type="text"
        [formControlName]="['campgroundDescription']"
        placeholder="Campground Description"
        [disabled]="isLoading"
      ></textarea>
      <mat-error *ngIf="form.get('campgroundDescription').invalid"
        >Please briefly describe the campground site.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        [formControlName]="['campgroundLocation']"
        placeholder="Campground Location (e.g. Yosemite National Park, CA)"
        [disabled]="isLoading"
      />
      <mat-error *ngIf="form.get('campgroundLocation').invalid"
        >Please help others with the campground location.</mat-error
      >
    </mat-form-field>
    <br />
    <button
      mat-raised-button
      class="campground-create-submit"
      color="primary"
      type="submit"
      [disabled]="isLoading"
    >
      Submit
    </button>
    <br />
  </form>
</div>

<div class="campground-back-link">
  <a
    mat-button
    color="primary"
    class=".mat-body-strong campground-page-link"
    [routerLink]="['/campgrounds']"
    >Back to Campground's Page</a
  >
</div>
