:host {
  display: block;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: auto;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  font-size: 0.75rem;
  text-decoration: none;
  color: #c5bcbc;
  padding-bottom: 10px;
  padding-left: 5px;
}

@media screen and (max-width: 600px) {
  a {
    font-size: 0.5rem;
  }
}
