<mat-progress-bar
  mode="indeterminate"
  color="warn"
  *ngIf="isLoading"
></mat-progress-bar>
<app-header></app-header>
<div class="container-user">
  <div class="container-side-panel">
    <mat-card>
      <div [ngClass]="!showCoUser ? 'imagehandler' : ''">
        <img
          mat-card-image
          [src]="showCoUser ? displayCoUser?.avatar : currentUser?.avatar"
          [alt]="showCoUser ? displayCoUser?.username : currentUser?.username"
        />
        <button
          mat-icon-button
          class="topright"
          color="primary"
          *ngIf="!showCoUser"
          [disabled]="isLoading"
        >
          <mat-icon
            [inline]="true"
            aria-hidden="false"
            aria-label="change user avatar camera icon"
            (click)="!isLoading && onUpdateUserAvatar()"
            >camera_alt</mat-icon
          >
        </button>
      </div>
      <mat-card-title>
        {{ showCoUser ? displayCoUser?.firstname : currentUser?.firstname }}
        {{ showCoUser ? displayCoUser?.lastname : currentUser?.lastname }}
      </mat-card-title>
      <mat-card-subtitle class="author-username"
        >@{{
          showCoUser ? displayCoUser?.username : currentUser?.username
        }}</mat-card-subtitle
      >
      <mat-card-subtitle>{{
        showCoUser ? displayCoUser?.email : currentUser?.email
      }}</mat-card-subtitle>

      <button
        mat-raised-button
        color="primary"
        class="follow-button"
        *ngIf="isUserAuthenticated && showCoUser && !isCurrentUserFollower()"
        (click)="toggleUserFollow(true)"
        [disabled]="isLoading"
      >
        Follow
      </button>
      <button
        mat-stroked-button
        color="primary"
        class="follow-button"
        *ngIf="isUserAuthenticated && showCoUser && isCurrentUserFollower()"
        (click)="toggleUserFollow(false)"
        [disabled]="isLoading"
      >
        Following
      </button>
      <button
        mat-raised-button
        type="button"
        color="primary"
        class="button-change-password"
        *ngIf="isUserAuthenticated && !showCoUser"
        (click)="onChangePassword()"
        [disabled]="isLoading"
      >
        Change Password
      </button>
    </mat-card>
    <br />
    <mat-card>
      <mat-card-subtitle>Recent Activites</mat-card-subtitle>
    </mat-card>
  </div>
  <div class="container-tabs">
    <div class="current-user-details" *ngIf="!showCoUser">
      <mat-tab-group animationDuration="0ms" [(selectedIndex)]="selectIndex">
        <mat-tab label="Settings">
          <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="basicFormGroup">
              <form [formGroup]="basicFormGroup" class="user-settings-form">
                <ng-template matStepLabel>Basic Information</ng-template>
                <mat-form-field>
                  <mat-label>@username *</mat-label>
                  <input matInput formControlName="username" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>First Name *</mat-label>
                  <input matInput formControlName="firstname" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Last Name *</mat-label>
                  <input matInput formControlName="lastname" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>E-mail *</mat-label>
                  <input matInput formControlName="email" />
                  <mat-hint
                    >Enter a valid e-mail ID to help you recover your password,
                    just in case</mat-hint
                  >
                </mat-form-field>
                <div>
                  <button
                    color="primary"
                    type="button"
                    mat-button
                    matStepperNext
                  >
                    Next
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="displayPrefFormGroup">
              <form
                [formGroup]="displayPrefFormGroup"
                class="user-display-settings-form"
              >
                <ng-template matStepLabel>Display Preferences</ng-template>
                <mat-slide-toggle
                  color="accent"
                  formControlName="showStatsDashboard"
                  #showStats
                  >Display app statistics on 'Campgrounds' page:
                  {{ showStats.checked ? "ON" : "OFF" }}
                </mat-slide-toggle>
                <mat-slide-toggle
                  color="accent"
                  formControlName="newCampgroundAlert"
                  #showCampAlert
                  >Get in-app alerts for new Campgrounds by users you follow:
                  {{ showCampAlert.checked ? "ON" : "OFF" }}
                </mat-slide-toggle>
                <mat-slide-toggle
                  color="accent"
                  formControlName="newCommentAlert"
                  #showCommentAlert
                  >Get in-app alerts for new comments on your campgrounds:
                  {{ showCommentAlert.checked ? "ON" : "OFF" }}
                </mat-slide-toggle>
                <mat-slide-toggle
                  color="accent"
                  formControlName="newFollowerAlert"
                  #showFollowerAlert
                  >Get in-app alerts when a user follows you:
                  {{ showFollowerAlert.checked ? "ON" : "OFF" }}
                </mat-slide-toggle>
                <div>
                  <button
                    color="primary"
                    type="button"
                    mat-button
                    matStepperPrevious
                  >
                    Back
                  </button>
                  <button
                    color="primary"
                    type="button"
                    mat-button
                    matStepperNext
                  >
                    Next
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="emailPrefFormGroup">
              <form
                [formGroup]="emailPrefFormGroup"
                class="user-display-settings-form"
              >
                <ng-template matStepLabel>Email Preferences *</ng-template>
                <p color="warn" class="informative-p">
                  * You must have a valid email address registered with us to
                  get <strong><u>any</u></strong> email notification! Also,
                  please add <u>garyd.app.notifications@gmail.com</u> to your
                  contacts or your email app's safe email senders list.
                </p>
                <mat-slide-toggle
                  color="accent"
                  formControlName="systemEmail"
                  #getSysEmails
                  >Get app or system related emails from server:
                  {{ getSysEmails.checked ? "ON" : "OFF" }}
                </mat-slide-toggle>
                <mat-slide-toggle
                  color="accent"
                  formControlName="newCampgroundEmail"
                  #getCampEmails
                  >Get email on new Campgrounds by users you follow:
                  {{ getCampEmails.checked ? "ON" : "OFF" }}
                </mat-slide-toggle>
                <mat-slide-toggle
                  color="accent"
                  formControlName="newCommentEmail"
                  #getCommentEmails
                  >Get email for new comments on your campgrounds:
                  {{ getCommentEmails.checked ? "ON" : "OFF" }}
                </mat-slide-toggle>
                <mat-slide-toggle
                  color="accent"
                  formControlName="newFollowerEmail"
                  #getFollowerEmails
                  >Get email when a user follows you:
                  {{ getFollowerEmails.checked ? "ON" : "OFF" }}
                </mat-slide-toggle>
                <div>
                  <button
                    type="button"
                    color="primary"
                    mat-button
                    matStepperPrevious
                  >
                    Back
                  </button>
                  <button
                    color="primary"
                    type="button"
                    mat-button
                    matStepperNext
                  >
                    Next
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Save Changes</ng-template>
              <!-- <p>You are now done.</p> -->
              <div>
                <button
                  color="primary"
                  type="button"
                  mat-button
                  matStepperPrevious
                >
                  Back
                </button>
                <button
                  mat-button
                  type="submit"
                  color="primary"
                  [disabled]="
                    !basicFormGroup.valid ||
                    !displayPrefFormGroup.valid ||
                    !emailPrefFormGroup.valid ||
                    isLoading
                  "
                  (click)="updateUserData()"
                >
                  Update
                </button>
                <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </mat-tab>
        <mat-tab
          [label]="
            displayCurrentUserCampgrounds?.length > 0
              ? 'Campgrounds'
              : 'No Campgrounds'
          "
          [disabled]="displayCurrentUserCampgrounds?.length <= 0"
        >
          <ul class="current-user-campground-list">
            <li *ngFor="let campground of displayCurrentUserCampgrounds">
              <a
                [routerLink]="['/campgrounds/show/', campground.campgroundId]"
                >{{ campground.campgroundName }}</a
              >
            </li>
          </ul>
        </mat-tab>
        <mat-tab
          [label]="
            currentUser?.notifications?.length > 0
              ? 'Notifications'
              : 'No Notifications'
          "
          [disabled]="currentUser?.notifications?.length <= 0"
        >
          <div class="notification-tab-body">
            <ul class="current-user-notifications-list">
              <li
                class="current-user-notifications-list-item"
                [ngClass]="
                  notification?.isRead
                    ? 'isRead-notification'
                    : 'isUnread-notification'
                "
                *ngFor="let notification of currentUser?.notifications"
              >
                <div
                  [ngSwitch]="notification?.notificationType"
                  (click)="onNotificationClick(notification)"
                >
                  <div *ngSwitchCase="0" class="notification-switch-case">
                    <span class="notification-text"
                      ><strong>{{ notification?.username }}</strong>
                      {{ " created a new campground " }}
                      <strong>{{ notification?.campgroundName }}</strong>
                    </span>
                    <span class="notification-action">
                      <button
                        type="button"
                        mat-button
                        color="primary"
                        matSuffix
                        mat-icon-button
                        aria-label="Toggle Read"
                        (click)="
                          onNotificationRead(
                            notification?._id,
                            !notification?.isRead
                          );
                          $event.stopPropagation()
                        "
                      >
                        <mat-icon>{{
                          notification?.isRead
                            ? "mark_chat_unread"
                            : "mark_chat_read"
                        }}</mat-icon>
                      </button>
                      <button
                        type="button"
                        mat-button
                        color="warn"
                        matSuffix
                        mat-icon-button
                        aria-label="Delete"
                        (click)="
                          onNotificationDelete(notification?._id);
                          $event.stopPropagation()
                        "
                      >
                        <mat-icon>delete_task</mat-icon>
                      </button>
                    </span>
                  </div>
                  <div *ngSwitchCase="1" class="notification-switch-case">
                    <span class="notification-text"
                      ><strong>{{ notification?.username }}</strong>
                      {{ " added a new comment on your campground " }}
                      <strong>{{ notification?.campgroundName }}</strong></span
                    >
                    <span class="notification-action">
                      <button
                        type="button"
                        mat-button
                        color="primary"
                        matSuffix
                        mat-icon-button
                        aria-label="Toggle Read"
                        (click)="
                          onNotificationRead(
                            notification?._id,
                            !notification?.isRead
                          );
                          $event.stopPropagation()
                        "
                      >
                        <mat-icon>{{
                          notification?.isRead
                            ? "mark_chat_unread"
                            : "mark_chat_read"
                        }}</mat-icon>
                      </button>
                      <button
                        type="button"
                        mat-button
                        color="warn"
                        matSuffix
                        mat-icon-button
                        aria-label="Delete"
                        (click)="
                          onNotificationDelete(notification?._id);
                          $event.stopPropagation()
                        "
                      >
                        <mat-icon>delete_task</mat-icon>
                      </button>
                    </span>
                  </div>
                  <div *ngSwitchCase="2" class="notification-switch-case">
                    New Admin Request
                  </div>
                  <div *ngSwitchCase="3" class="notification-switch-case">
                    <span class="notification-text"
                      ><img
                        class="notification-follower-img"
                        [src]="notification?.follower?.followerAvatar"
                        [alt]="notification?.username"
                      />
                      {{ "You have new follower " }}
                      <strong>{{ notification?.username + "!" }}</strong></span
                    >
                    <span class="notification-action">
                      <button
                        type="button"
                        mat-button
                        color="primary"
                        matSuffix
                        mat-icon-button
                        aria-label="Toggle Read"
                        (click)="
                          onNotificationRead(
                            notification?._id,
                            !notification?.isRead
                          );
                          $event.stopPropagation()
                        "
                      >
                        <mat-icon>{{
                          notification?.isRead
                            ? "mark_chat_unread"
                            : "mark_chat_read"
                        }}</mat-icon>
                      </button>
                      <button
                        type="button"
                        mat-button
                        color="warn"
                        matSuffix
                        mat-icon-button
                        aria-label="Delete"
                        (click)="
                          onNotificationDelete(notification?._id);
                          $event.stopPropagation()
                        "
                      >
                        <mat-icon>delete_task</mat-icon>
                      </button>
                    </span>
                  </div>
                  <div *ngSwitchDefault>Unknown</div>
                </div>
              </li>
            </ul>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="co-user-details" *ngIf="showCoUser">
      <mat-expansion-panel [disabled]="displayCoUserCampgrounds?.length <= 0">
        <mat-expansion-panel-header>
          <mat-panel-title
            >{{
              displayCoUserCampgrounds?.length > 0
                ? "Campgrounds"
                : "No Campgrounds"
            }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="co-user-campground-list">
          <li *ngFor="let campground of displayCoUserCampgrounds">
            <a [routerLink]="['/campgrounds/show/', campground.campgroundId]">{{
              campground.campgroundName
            }}</a>
          </li>
        </ul>
      </mat-expansion-panel>
    </div>
  </div>
</div>
