<mat-progress-bar
  mode="indeterminate"
  color="warn"
  *ngIf="isLoading"
></mat-progress-bar>
<app-header></app-header>
<div class="container-user">
  <div class="container-side-panel">
    <mat-card>
      <div [ngClass]="!showCoUser ? 'imagehandler' : ''">
        <img
          mat-card-image
          [src]="showCoUser ? displayCoUser?.avatar : currentUser?.avatar"
          [alt]="showCoUser ? displayCoUser?.username : currentUser?.username"
        />
        <button
          mat-icon-button
          class="topright"
          color="primary"
          *ngIf="!showCoUser"
          [disabled]="isLoading"
        >
          <mat-icon
            [inline]="true"
            aria-hidden="false"
            aria-label="change user avatar camera icon"
            (click)="!isLoading && onUpdateUserAvatar()"
            >camera_alt</mat-icon
          >
        </button>
      </div>
      <mat-card-title>
        {{ showCoUser ? displayCoUser?.firstname : currentUser?.firstname }}
        {{ showCoUser ? displayCoUser?.lastname : currentUser?.lastname }}
      </mat-card-title>
      <mat-card-subtitle class="author-username"
        >@{{
          showCoUser ? displayCoUser?.username : currentUser?.username
        }}</mat-card-subtitle
      >
      <mat-card-subtitle>{{
        showCoUser ? displayCoUser?.email : currentUser?.email
      }}</mat-card-subtitle>

      <button
        mat-raised-button
        color="primary"
        class="follow-button"
        *ngIf="isUserAuthenticated && showCoUser && !isCurrentUserFollower()"
        (click)="toggleUserFollow(true)"
      >
        Follow
      </button>
      <button
        mat-stroked-button
        color="primary"
        class="follow-button"
        *ngIf="isUserAuthenticated && showCoUser && isCurrentUserFollower()"
        (click)="toggleUserFollow(false)"
      >
        Following
      </button>
    </mat-card>
    <br />
    <mat-card>
      <mat-card-subtitle>Recent Activites</mat-card-subtitle>
    </mat-card>
  </div>
  <div class="container-tabs">
    <div class="current-user-details" *ngIf="!showCoUser">
      <mat-tab-group animationDuration="0ms" [(selectedIndex)]="selectIndex">
        <mat-tab label="Settings">
          <form
            #userSettings="ngForm"
            class="user-settings-form"
            (ngSubmit)="updateUserData(userSettings)"
          >
            <mat-form-field>
              <input
                matInput
                type="text"
                [value]="currentUsername"
                placeholder="@username"
                required
                disabled
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input
                matInput
                type="text"
                name="firstname"
                [(ngModel)]="firstname"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input
                matInput
                type="text"
                name="lastname"
                [(ngModel)]="lastname"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                matInput
                type="email"
                name="email"
                [(ngModel)]="email"
                required
                email
              />
              <mat-hint
                >Enter a valid e-mail ID to help you recover your password, just
                in case</mat-hint
              >
            </mat-form-field>
            <button
              mat-stroked-button
              type="submit"
              color="primary"
              [disabled]="!userSettings.valid || isLoading"
            >
              Update
            </button>
            <button
              mat-stroked-button
              class="button-change-password"
              color="primary"
              type="button"
              (click)="onChangePassword()"
              [disabled]="isLoading"
            >
              Change Password
            </button>
          </form>
        </mat-tab>
        <mat-tab label="Campgrounds">
          <ul class="current-user-campground-list">
            <li *ngFor="let campground of displayCurrentUserCampgrounds">
              <a
                [routerLink]="['/campgrounds/show/', campground.campgroundId]"
                >{{ campground.campgroundName }}</a
              >
            </li>
          </ul>
        </mat-tab>
        <mat-tab label="Notifications">
          <div class="notification-tab-body">
            <ul class="current-user-notifications-list">
              <li
                class="current-user-notifications-list-item"
                [ngClass]="
                  notification?.isRead
                    ? 'isRead-notification'
                    : 'isUnread-notification'
                "
                *ngFor="let notification of currentUser?.notifications"
              >
                <div
                  [ngSwitch]="notification?.notificationType"
                  (click)="onNotificationClick(notification)"
                >
                  <div *ngSwitchCase="0" class="notification-switch-case">
                    <span class="notification-text"
                      ><strong>{{ notification?.username }}</strong>
                      {{ " created a new campground " }}
                      <strong>{{ notification?.campgroundName }}</strong>
                    </span>
                    <span class="notification-action">
                      <button
                        type="button"
                        mat-button
                        color="primary"
                        matSuffix
                        mat-icon-button
                        aria-label="Toggle Read"
                        (click)="
                          onNotificationRead(
                            notification?._id,
                            !notification?.isRead
                          );
                          $event.stopPropagation()
                        "
                      >
                        <mat-icon>{{
                          notification?.isRead
                            ? "mark_chat_unread"
                            : "mark_chat_read"
                        }}</mat-icon>
                      </button>
                      <button
                        type="button"
                        mat-button
                        color="warn"
                        matSuffix
                        mat-icon-button
                        aria-label="Delete"
                        (click)="
                          onNotificationDelete(notification?._id);
                          $event.stopPropagation()
                        "
                      >
                        <mat-icon>delete_task</mat-icon>
                      </button>
                    </span>
                  </div>
                  <div *ngSwitchCase="1" class="notification-switch-case">
                    <span class="notification-text"
                      ><strong>{{ notification?.username }}</strong>
                      {{ " added a new comment on your campground " }}
                      <strong>{{ notification?.campgroundName }}</strong></span
                    >
                    <span class="notification-action">
                      <button
                        type="button"
                        mat-button
                        color="primary"
                        matSuffix
                        mat-icon-button
                        aria-label="Toggle Read"
                        (click)="
                          onNotificationRead(
                            notification?._id,
                            !notification?.isRead
                          );
                          $event.stopPropagation()
                        "
                      >
                        <mat-icon>{{
                          notification?.isRead
                            ? "mark_chat_unread"
                            : "mark_chat_read"
                        }}</mat-icon>
                      </button>
                      <button
                        type="button"
                        mat-button
                        color="warn"
                        matSuffix
                        mat-icon-button
                        aria-label="Delete"
                        (click)="
                          onNotificationDelete(notification?._id);
                          $event.stopPropagation()
                        "
                      >
                        <mat-icon>delete_task</mat-icon>
                      </button>
                    </span>
                  </div>
                  <div *ngSwitchCase="2" class="notification-switch-case">
                    New Admin Request
                  </div>
                  <div *ngSwitchCase="3" class="notification-switch-case">
                    <span class="notification-text"
                      ><img
                        class="notification-follower-img"
                        [src]="notification?.follower?.followerAvatar"
                        [alt]="notification?.username"
                      />
                      {{ "You have new follower " }}
                      <strong>{{ notification?.username + "!" }}</strong></span
                    >
                    <span class="notification-action">
                      <button
                        type="button"
                        mat-button
                        color="primary"
                        matSuffix
                        mat-icon-button
                        aria-label="Toggle Read"
                        (click)="
                          onNotificationRead(
                            notification?._id,
                            !notification?.isRead
                          );
                          $event.stopPropagation()
                        "
                      >
                        <mat-icon>{{
                          notification?.isRead
                            ? "mark_chat_unread"
                            : "mark_chat_read"
                        }}</mat-icon>
                      </button>
                      <button
                        type="button"
                        mat-button
                        color="warn"
                        matSuffix
                        mat-icon-button
                        aria-label="Delete"
                        (click)="
                          onNotificationDelete(notification?._id);
                          $event.stopPropagation()
                        "
                      >
                        <mat-icon>delete_task</mat-icon>
                      </button>
                    </span>
                  </div>
                  <div *ngSwitchDefault>Unknown</div>
                </div>
              </li>
            </ul>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="co-user-details" *ngIf="showCoUser">
      <mat-expansion-panel [disabled]="displayCoUserCampgrounds?.length <= 0">
        <mat-expansion-panel-header>
          <mat-panel-title
            >{{
              displayCoUserCampgrounds?.length > 0
                ? "Campgrounds"
                : "No Campgrounds"
            }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="co-user-campground-list">
          <li *ngFor="let campground of displayCoUserCampgrounds">
            <a [routerLink]="['/campgrounds/show/', campground.campgroundId]">{{
              campground.campgroundName
            }}</a>
          </li>
        </ul>
      </mat-expansion-panel>
    </div>
  </div>
</div>
