.container-user {
  margin: 30px auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

/* LEFT SIDE PANEL (user avatar, etc.) */
mat-card img {
  width: 253px;
  height: 153px;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.author-username {
  font-style: italic;
}

.follow-button,
.button-change-password {
  width: 100%;
}

.topright {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 2em;
  z-index: 1;
}

.imagehandler:hover img {
  transition: 0.5s ease;
  opacity: 0.3;
  backface-visibility: hidden;
}

.imagehandler:hover button {
  opacity: 1;
}

/* RIGHT SIDE PANEL (user settings, campgrounds, etc.) */

.container-tabs {
  margin-left: 10px;
  width: 100%;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.user-settings-form mat-form-field {
  width: 100%;
}

.user-settings-form button[type="submit"] {
  margin-top: 15px;
  width: 100%;
}

.user-settings-form button[type="button"] {
  margin-top: 15px;
}

.informative-p {
  color: #8d8585;
  text-align: justify;
  text-justify: auto;
  white-space: pre-wrap;
}

mat-slide-toggle {
  width: 100%;
  margin: 10px auto;
}

mat-slide-toggle:last-of-type {
  margin-bottom: 20px;
}

.co-user-campground-list,
.current-user-campground-list {
  line-height: 30px;
  font-size: 18px;
}

.current-user-notifications-list {
  list-style: none;
  margin-left: 0;
  padding-left: 5px;
  line-height: 30px;
  font-size: 14px;
  box-sizing: border-box;
}

.current-user-notifications-list-item {
  width: auto;
  padding: 5px;
  padding-left: 10px;
  border: 1px solid #f0eeee;
  border-radius: 2px;
  border-bottom: 1px solid #b3a8a8;
  cursor: pointer;
  box-sizing: border-box;
}

.isRead-notification {
  background-color: #fff;
}

.isUnread-notification {
  background-color: #f0eeee;
}

.notification-switch-case {
  display: flex;
  justify-content: space-between;
}

.co-user-campground-list a,
.current-user-campground-list a,
.current-user-notifications-list a {
  text-decoration: none;
}

.co-user-campground-list a:hover,
.current-user-campground-list a:hover,
.current-user-notifications-list a:hover {
  text-decoration: underline;
}

.notification-follower-img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

@media screen and (max-width: 950px) {
  .container-user {
    width: 70%;
    flex-direction: column;
  }

  .container-side-panel {
    display: flex;
  }

  .container-side-panel mat-card:last-of-type {
    flex: 1;
    margin-left: 10px;
  }

  .container-tabs {
    margin-left: 0;
  }

  .co-user-details {
    margin-top: 15px;
  }
}

@media screen and (max-width: 850px) {
  .container-user {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .container-user {
    width: 90%;
  }

  .notification-switch-case {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .container-side-panel {
    flex-direction: column;
  }

  mat-card img {
    width: 100%;
    height: 240px;
    background-position: center;
    padding-left: 15px;
    padding-top: 10px;
  }

  .container-side-panel mat-card:last-of-type {
    margin-left: 0;
  }

  mat-slide-toggle {
    padding: 15px 0;
  }

  .mat-slide-toggle-text {
    /* font-size: 0.75rem; */
    white-space: pre-wrap;
    text-align: justify;
  }
}

@media screen and (max-width: 400px) {
  mat-slide-toggle {
    padding: 25px 0;
  }

  .mat-slide-toggle-text {
    font-size: 0.75rem;
  }

  .informative-p {
    font-size: 0.75rem;
  }
}
